body {
  padding: 40px;
}
blockquote {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}
blockquote img {
  float: left ;
  margin-right: 10px;
}
blockquote span.director,
blockquote span.year {
  color: #c02f2f;
}
form {
  background-color: white;
  padding: 15px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
#movie-list .span6 {
  float: left;
  margin: 5px;
}
