body {
	padding:40px;
}

blockquote.movie {
	img {
		float : left ;
		margin-right: 10px;
	}

	span.director, span.year{
		color: rgb(192, 47, 47);
	}
	background-color: white;
	padding: 15px;
}

#movie-list .span6{
	float: left;
	margin: 5px;
}
