body {
  padding: 40px;
}
blockquote.movie {
  background-color: white;
  padding: 15px;
}
blockquote.movie img {
  float: left ;
  margin-right: 10px;
}
blockquote.movie span.director,
blockquote.movie span.year {
  color: #c02f2f;
}
#movie-list .span6 {
  float: left;
  margin: 5px;
}
