body {
	padding:40px;
}

blockquote {
	img {
		float : left ;
		margin-right: 10px;
	}

	span.director, span.year{
		color: rgb(192, 47, 47);
		// font-style: italic;
	}
	background-color: white;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

form{
	background-color: white;
	padding: 15px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
}

#movie-list .span6{
	float: left;
	margin: 5px;
}
