<div class="content" >
	<form ng-controller="itemAddController" ng-submit="add()" ng-model='item'>
		<fieldset>
			<legend>Ajouter un lien</legend>
			<label for="title">Titre</label>
		    <input type="text" name="title" ng-model='item.title'></input>

			<label for="url">Url</label>
		    <input type="text" name="url" ng-model='item.url'></input>

			<label for="tags">Tags (séparés par des virgules)</label>
		    <input type="text" name="tags" ng-change="handleTag()" ng-model='item.tagsRepo'></input>

			<span ng-repeat="tag in item.tags">
				<span ng-click='removeTag($index)' class="label">[[tag.name]]</span>
			</span>
		    <br>
		    <button class="btn" type="submit" id="submit">Ajouter [[item.title]]</button>
	    </fieldset>
	</form>
</div>
