<link rel="stylesheet" type="text/css" href="/stylesheets/vendors/component.css" />

<div class="content" ng-controller="blogController">
    <div class="main">
        <ul class="cbp_tmtimeline">
            <li ng-repeat="article in articles">
                <time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>[[article.created|date:'dd/MM/yyyy']]</span> <span>[[article.created|date:'HH:mm']]</span></time>
                <div class="cbp_tmicon cbp_tmicon-mail"></div>
                <div class="cbp_tmlabel">
                    <h2>[[article.title]]</h2>
                    <p ng-bind-html-unsafe="article.content|markdown"></p>
                    <p  ng-show="article.user._id == connectedUserId" >
                        <a class='btn btn-mini' href="#/blog/update/[[article._id]]"><i class="icon icon-edit"></i></a>
                        <a class='btn btn-mini' href="#/blog/delete/[[article._id]]"><i class="icon icon-remove"></i></a>
                        <!-- <a href="#/blog/comment/[[article._id]]">commenter</a> -->
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
