<div class="content" ng-controller="blogController">
    <article ng-repeat="article in articles">
        <h1>[[article.title]]<span ng-repeat="tag in article.tags">
                        <span ng-model='tag.name' class="label tag label-warning">[[tag.name]]</span>
                    </span></h1>

        <div ng-bind-html-unsafe="article.content|markdown"></div>
        <div class="article-info">
            By [[article.user.email|trigram]] [[article.created|timeago]]
        </div>
        <hr></hr>
    </article>
</div>
