<div class="row">

	<h2>Comment ajouter un lien ?</h2>

	<div class="span4">
		<h3>Via le formulaire</h3>
		<p>Cliquez sur le bouton <img src="images/howto/plus.png" alt=""></p>
		<p>Puis renseignez les champs suivant : </p>
		<img src="images/howto/add_form.png" alt="">
		<p>Les tags sont à séparer par des virgules.</p>
		<p>Cliquez ensuite sur <img src="images/howto/ajouter.png" alt=""></p>
	</div>

	<div class="span4">
		<h3>Via le bookmarklet</h3>
		<p>Glissez le bouton <img src="images/howto/bookmarklet.png" alt=""> dans votre barre de favoris.</p>
		<img src="images/howto/bookmark.png" alt="">
		<br><br><p>Dès que vous vous trouvez sur une page que vous souhaitez partager, cliquez sur le favoris précédement enregisté.</p>
		<p>Une alerte apparaîtra pour vous demander une liste de tags : </p>
		<img src="images/howto/tags.png" alt="">
		<br><br><p>Les tags sont à séparer par des virgules.</p>
		<p>Si tout se passe bien, une fenêtre de confirmation vous l'informera.</p>
		<img src="images/howto/add_ok.png" alt="">
		<br><br><p>Il est possible que vous ne soyez pas authentifié, dans ce cas la une fenêtre vous l'informera. Il vous suffit alors de retourner sur l'application vous authentifier.</p>
		<p>En retournant sur l'application, vous pourrez consulter le liens ajouté.</p>
		<img src="images/howto/result.png" alt="">
		<br><br><br><br>
	</div>



</div>
