<div class="content" ng-controller="itemListController">

	<div ng-show="query.length">
		<button class="btn btn-success" ng-click="query = ''"><i class="icon-arrow-left icon-white"></i> Effacer les filtres</button>
		<br><br>
	</div>

<div class="input-prepend">
  <span class="add-on"><i class="icon-filter"></i></span>
  <input type=text ng-model="query" placeholder="Filtre">
</div>


	<select ng-model="orderProp">
		<option value="title">A-Z</option>
		<option value="-title">Z-A</option>
		<option value="click">Visites</option>
		<option value="-click">Visites desc</option>
		<option value="-created">Nouveau</option>
		<option value="created">Ancien</option>
	</select>


	<table class="table table-hover">
		<thead>
			<tr>
			<th></th>
			<th>Titre</th>
			<th></th>
			<th><i class="icon-tags"></i></th>
			<th><i class="icon-user"></i></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in items  | filter:query | orderBy:orderProp">
				<td>
					<div class="btn-group">
						<button class="btn btn-link btn-mini dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a href="#/update/[[item._id]]">Modifier</a></li>
							<li><a href="#/delete/[[item._id]]">Supprimer</a></li>
						</ul>
					</div>
				</td>
				<td>
					<a href="[[item.url]]" target='_blank' ng-click='click(item)' data-placement="right" bs-tooltip="item.click">[[item.title]]</a>
				</td>
				<td>
					<a  ng-click="showComments(item._id, $index)" href="">
						<i class="icon-comment"></i> <span ng-show="item.comments.length > 0">[[item.comments.length]]</span>
					</a>
				</td>
				<td>
					<span ng-repeat="tag in item.tags">
						<a  href="#/filter/[[tag.name]]" class="label label-warning"><i class="icon-tag icon-white"></i> [[tag.name]]</a>
					</span>
				</td>
				<td> <a href="#/filter/[[item.user.email]]" >[[item.user.email]]</a></td>

			</tr>
		</tbody>
	</table>
</div>
