<div class="content" ng-controller="itemListController">

	<div ng-show="query.length">
		<button class="btn btn-success" ng-click="query = ''"><i class="icon-arrow-left icon-white"></i> Effacer les filtres</button>
		<br><br>
	</div>

<div class="input-prepend">
  <span class="add-on"><i class="icon-filter"></i></span>
  <input type=text ng-model="query" placeholder="Filtre">
</div>

	<select ng-model="orderProp">
		<option value="title">A-Z</option>
		<option value="-title">Z-A</option>
		<option value="click">Visites</option>
		<option value="-click">Visites desc</option>
		<option value="-created">Nouveau</option>
		<option value="created">Ancien</option>
	</select>


	<table class="table table-hover">
		<thead>
			<tr>
			<th></th>
			<th>Titre</th>
			<th></th>
			<th><i class="icon-tags"></i></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in items  | filter:query | orderBy:orderProp">
				<td>
					<div class="btn-group">
						<button class="btn btn-link btn-mini dropdown-toggle" data-toggle="dropdown">
							<span class="label">[[item.user.email|trigram]]</span>
						</button>
						<ul class="dropdown-menu">
							<li><a ng-click="showComments(item, $index)"><i class="icon-comment"></i> Commenter</a></li>
							<li><a href="#/filter/[[item.user.email]]"><i class="icon-user"></i> Filtrer par auteur</a></li>

							<li><a ng-show="item.user._id == connectedUserId" href="" ng-click="updateModal(item, $index)" ><i class="icon-edit"></i> Modifier</a></li>
							<!-- <li><a ng-show="item.user._id == connectedUserId" href="#/update/[[item._id]]"><i class="icon-edit"></i> Modifier</a></li> -->
							<!-- <li><a ng-show="item.user._id == connectedUserId" href="#/delete/[[item._id]]"><i class="icon-trash"></i> Supprimer</a></li> -->
							<li><a ng-show="item.user._id == connectedUserId" href=""  ng-click="deleteModal(item, $index)"><i class="icon-trash"></i> Supprimer</a></li>
						</ul>
					</div>
				</td>
				<td>
					<a href="[[item.url]]" target='_blank' ng-click='click(item)' data-placement="right" bs-tooltip="item.click">[[item.title]] </a> 
				</td>
				<td>
					<a  ng-click="showComments(item, $index)" href="">
						 <span ng-show="item.comments.length > 0" class="badge">
						 	 [[item.comments.length]] <i class="icon-comment icon-white"></i>
						 </span>
					</a>
				</td>
				<td>
					<span ng-repeat="tag in item.tags">
						<span ng-model='tag.name' ng-click="filterList(tag.name)"  class="label label-warning">[[tag.name]]</span>
					</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
