<div class="content" ng-controller="moviesAddController">

	<select ng-model="addingType">
		<option value="ean">ean</option>
		<option value="eans">eans</option>
		<option value="full">full</option>
		<option value="search">search</option>
		<option value="photo">photo</option>
		<option value="video">video</option>
	</select>

	<div ng-switch on="addingType" >
		<span ng-switch-default>Choose adding method !</span>
    	<div ng-switch-when="ean">
			<input type="text" placeholder="ean-13" ng-model="ean">
			<button class=btn ng-click="addEan(ean)">add</button>
    	</div>
    	<div ng-switch-when="eans">
			<input type="text" placeholder="import (ean separated values)" ng-model="esv">
			<button class=btn ng-click="importEsv(esv)">import</button>
    	</div>
    	<div ng-switch-when="full">
			full
    	</div>
    	<div ng-switch-when="search">
			<input type="text" placeholder="Title, author or else..." ng-model="searchedText" ng-change="search(searchedText)" typeahead="state for state in states | filter:$viewValue">
    	</div>
    	<div ng-switch-when="photo">
			photo
    	</div>
    	<div ng-switch-when="video">
			video
    	</div>
	</div>

	<div>[[addResult.title]] [[addResult.year]]</div>

</div>
