<div ng-controller="moviesDetailController">

	<img alt="" ng-src="[[movie.image]]"/>

	<h1>[[movie.title]]</h1>
	<h3>[[movie.year]]</h3>

	<p>
		From <span ng-repeat="director in movie.directors">
		<a href="#">[[director]]</a>
		</span>
	</p>

	<p>
		With <span ng-repeat="actor in movie.actors">
		<a href="#">[[actor]]</a>
		</span>
	</p>

	<button class=""> share</button>
	<button class="">lent</button>
	<button class="">edit</button>
	<button class="buy-btn" ng-click='buy()' data-link="[[movie.amazon_url]]">buy</button>
	<button class="delete-btn">delete</button>

</div>
