<div class="content" >
	<h1>Modification</h1>
	<form ng-controller="itemUpdateController" ng-submit="update()" ng-model='item'>
		<fieldset>
			<legend>Modifier un lien</legend>
			<label for="title">Titre</label>
		    <input type="text" name="title" ng-model='item.title'></input>

			<label for="url">Url</label>
		    <input type="text" name="url" ng-model='item.url'></input>

			<label for="tags">Tags (séparés par des virgules)</label>
		    <input type="text" name="tags" ng-change="handleTag()" ng-model='item.tagsRepo'></input>

			<span ng-repeat="tag in item.tags">
				<span ng-click='removeTag($index)' class="label"><i class="icon-remove-sign icon-white"></i> [[tag.name]]</span>
			</span>
		    <br>
		    <button class="btn" type="submit" id="submit">Modifier [[item.title]]</button>
	    </fieldset>
	</form>
</div>

